*{
    margin:0;
    padding:0;
}

html{
    height:100%;
}

body{
    font-family:"Helvetica Neue", Helvetica,Arial,"Microsoft YaHei", sans-serif;
    background-image: url(https://ooo.0o0.ooo/2016/06/20/5768c606cf9cb.jpg);
    min-height:100%;
    position: relative;
    color: #333;
}

header{
    height:52px;
    background: #222;
    color: #9d9d9d;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
    margin-bottom:20px;
}

header a{
    color: #9d9d9d;
    text-decoration-line: none;
}

header a:hover{
    color:#fff;
}

header .wrapper{
    width:95%;
    margin:0 0 0 3%;
    line-height:52px;
}

header .headnav{
    float: right;
    margin-right:1%;
}

header .headnav ul{
    display: block;
}

header .headnav li{
    display: inline-block;
    margin-left:5px;
    margin-right:5px;
}

header .headnav li a img{
    width:32px;
    height:32px;
    margin-bottom:-10px;
}

.clearFix{
    width:96%;
    height:0;
    margin:0 auto;
    display: block;
    clear: both;
    padding:0;
}

.left{
    width:72%;
    float: left;
    margin:0 auto;
    padding:20px 30px;
    line-height:1.6;
    font-size:16px;
    background-color: #f8f8fd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;

    /*test */
    min-height:1000px;

    /*test*/
}

.left > h1 {
    margin-bottom: -10px;
}

.left > h1 > a{
    color: #000;
    text-decoration: none;
}

.right{
    width:20%;
    float: left;
    padding-left:20px;
    top:0;

    margin-bottom:45px;
}

.side{
    margin-bottom:20px;
    padding-bottom:0px;
    background-color: #f8f8fd;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);

    /*test*/
    min-height: 1000px;

    /*test*/
}

.site-footer{
    clear: both;
    position: relative;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    /*background: #2b2b3c;*/
    background: #000;
    box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.5);
    color: #bbb;
}

.site-footer .wrapper{
    width:75%;
    margin:0 auto;
    padding:15px 0;
    text-align: center;
    font-size:14px;
}

.site-footer .wrapper  .description{
    display: inline-block;
}

.site-footer .wrapper .contact{
    display: inline-block;
}

.site-footer .wrapper .contact a{
    color: #ccc;
}

.site-footer .wrapper .contact a:hover{
    color: #fff;
}

.site-footer .wrapper .contact a i{
    margin:0 5px;
    font-size:20px;
}

.site-footer .wrapper .contact img{
    margin-bottom:-10px;
    width:32px;
    height:32px;
}

.back_to_up{
    visibility: visible;
    opacity: 0.7;
    position: fixed;
    left:50%;
    margin-left:90%;
    bottom:5%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}

/*bootstrap*/